@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
img{
    max-width: 100%;
}

$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-dark-gray: hsl(0, 0%, 55%);
$clr-very-dark-gray: hsl(0, 0%, 41%);
$spacing-default: 20px;
$section-padding: 100px;

$font-alata: 'Alata', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;

$max-width: 1200px;
body{
    font-family: $font-alata;
    background-color: $clr-white;
    overflow-x: hidden;
}


header{
    position: relative;
    background-image: url('./images/mobile/image-hero.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: min(800px, 100vh);
    overflow: hidden;
    @media (min-width: 1200px) {
        background-image: url('./images/desktop/image-hero.jpg');
        background-size: 100% 100%;
        height: min(800px, 100vh);
    }
    nav{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 75px;
        width: 100%;
        z-index: 2;
        @media (min-width: 1200px) {
            max-width: $max-width;
            position: relative;
            margin-inline: auto;
            flex-direction: row;
            justify-content: space-between;
        }
        .logo{
            width: 300px;
            padding: $spacing-default;
            z-index: 10;
        }

        button{
            cursor: pointer;
            background-color: transparent;
            background-image: url('./images/icon-hamburger.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 30px;
            width: 30px;
            border: none;
            position: absolute;
            right: 1.5em;
            top: 1.5em;
            z-index: 1;
            @media (min-width: 1200px) {
                display: none;
            }
            &[data-toggler="true"]{
                background-image: url('./images/icon-close.svg');
            }
        }

        .menu{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: $spacing-default;
            gap: $spacing-default;
            background-color: $clr-black;
            inset: 0;
            height: 100vh;
            font-size: .8em;
            transform: translateX(100%);
            transition: all 500ms ease-in-out;
            @media (min-width: 1200px) {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: end;
                height: auto;
                background-color: transparent;  
                transform: translateX(0); 
            }

            &[data-visible="true"]{
                display: flex;
                transform: translateX(0);
            }

            .menu-items{
                font-size: 2em;
                a{
                    text-decoration: none;
                    color: $clr-white;
                    font-family: $font-josefin;
                    text-transform: uppercase;
                    padding-block: 5px;
                    @media (min-width: 1200px) {
                        text-transform: capitalize;
                    }
                    &:hover{
                        border-bottom: 1px solid $clr-white;
                    }
                }
            }
        }
    }

    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        color: $clr-white;
        max-width: 1200px;
        margin-inline: $spacing-default;
        @media (min-width: 1200px) {
            justify-content: start;
            margin-inline: auto;
        }
        .text-container{
            border: 3px solid $clr-white;
            padding: $spacing-default;
            height: auto;
            overflow: hidden;
            width: max(500px, 60%);
            z-index: 1;
            @media (min-width: 1200px) {
            }
            h1{
                font-size: clamp(2.5em, 5em, 5vw);
                font-family: $font-josefin;
                text-transform: uppercase;
                line-height: 1em; 
                width: min-content;
                @media (min-width: 1200px) {
                }
            }
        }
    }
    .dark-bg{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.592);
        inset: 0;
    }
}
main{
    
    padding: $spacing-default;
    padding-block: $section-padding;
    height: auto;
    #section-1{
        padding-top: $section-padding;
        position: relative;
        max-width: $max-width;
        margin-inline: auto;
        text-align: center;
        overflow: hidden;
        @media (min-width:1200px) {
            text-align: start;
            height: 435px;
        }
        .img-container{
            margin-bottom: $spacing-default;
            height: 100%;
            
            @media (min-width:1200px) {
                position: absolute;
                bottom: 0;
                left: 10%;
            }
        }
        .text-container{
            @media (min-width:1200px) {
                position: absolute;
                background-color: white;
                padding: 40px 70px 0 70px;
                max-width: 500px;
                bottom: 0;
                right: 10%;
            }
            h2{
                font-size: 2em;
                font-family: $font-josefin;
                text-transform: uppercase;
                margin-top: $spacing-default;
                color: $clr-black;
                @media (min-width:1200px) {
                    font-size: 2em;
                }
            }
            p{
                margin-top: $spacing-default;
                color: $clr-dark-gray;
                @media (min-width:1200px) {
                    
                }
            }
        }
       
    }

    #our-creations{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: $section-padding;
        max-width: $max-width;
        margin-inline: auto;
        h2{
            font-size: 2em;
            font-family: $font-josefin;
            text-transform: uppercase;
            margin-top: $spacing-default;
            color: $clr-black;
            width: max-content;
            padding: $spacing-default;
            @media (min-width: 1200px) {
                font-size: 4em;
                max-width: 1200px;
                width: 100%;
            }
        }

        .creations-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: $spacing-default;
            width: 100%;
            .creations{
                position: relative;
                width: auto;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                    height: auto;
                }
                h3{
                    color: $clr-white;
                    position: absolute;
                    z-index: 1;
                    bottom: 5%;
                    left: 3%;
                    font-size: 1em;
                    font-family: $font-josefin;
                    text-transform: uppercase;
                }
            }
        }

        button{
            cursor: pointer;
            margin-top: 20px;
            padding: 10px 40px;
            background-color: $clr-white;
            border: 1px solid $clr-black;
            text-transform: uppercase;
            letter-spacing: 8px;
            transition: all 500ms ease-in-out;
            &:hover{
                background-color: $clr-black;
                color: $clr-white;
            }
            @media (min-width: 1200px) {
                position: absolute;
                top: 11%;
                right: 1%;
            }
        }
    }
}

footer{
    background-color: $clr-black;
    color: $clr-white;
    width: 100%;
    
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-block: $section-padding;
        max-width: $max-width;
        margin-inline: auto;
        @media (min-width:1200px) {
            text-align: start;
            flex-direction: row;
            justify-content: space-between;
        }
        .left{
            width: 100%;
            ul{
                display: flex;
                flex-direction: column;
                gap: $spacing-default;
                margin-top: $spacing-default;
                @media (min-width:1200px) {
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100px;
                }
            }
        }
        .right{
            width: 100%;
           
            @media (min-width:1200px) {
                text-align: end;
            }
            .links{
                margin-top: $spacing-default;
                img{
                    margin-inline: $spacing-default;
                }
            }
            .copyright{
                margin-top: $spacing-default;
            }
        }
    }

}

.mobile{
    display: block;
}
.desktop{
    display: none;
}
@media (min-width: 1200px) {
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
}